.primary-btn {
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  background: transparent;
  border: 1px solid var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: ease-in-out 0.3s;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.primary-btn:hover {
  background: rgb(199 120 221 / 0.5);
}
