.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
  padding: 0rem 1rem;
}

.hero-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.hero-text h1 {
  color: white;
  font-weight: 600;
  text-align: left;
}

.hero-text p {
  padding: 1.5rem 0;
  color: var(--color-gray);
}
.photo-container {
  width: 50%;
}
.hero-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.photo-logo {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
}

.photo-logo img {
  width: 250px;
}
.photo-dots {
  position: absolute;
  right: 0;
  bottom: 100px;
}

.photo-status {
  display: flex;
  justify-content: start;
  border: 1px solid var(--color-gray);
  align-items: center;
  width: calc(100% - 60px);
  margin-right: 20px;
}

.primary-color-box {
  height: 15px;
  width: 15px;
  background: var(--color-primary);
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    margin: 2rem 2rem;
  }
  .hero-photo img {
    width: 20rem;
  }
  .photo-logo img {
    width: 150px;
  }
  .photo-logo img {
    width: 150px;
  }
  .photo-logo {
    left: -2.5rem;
  }
  .photo-status {
    width: calc(100% - 35px);
    margin-right: 10px;
  }
  .hero-text p {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0rem;
  }
  .hero-text {
    width: 100%;
  }
  .photo-logo {
    left: 0rem;
  }
}
