.text-primary {
  color: var(--color-primary);
  font-weight: bold;
}
.text-white {
  color: white;
}
.text-gray {
  color: var(--color-gray);
}

.header {
  display: flex;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 480px) {
  /* .container { */
  /*   margin: 0; */
  /* } */
}
