.text-primary {
  color: var(--color-primary);
  font-weight: bold;
}
.text-white {
  color: white;
}
.text-gray {
  color: var(--color-gray);
}

.header {
  display: flex;
}

.container {
  margin: 0 5rem;
  padding: 0rem 1rem;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0;
  }
}
