:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #c778dd;
  --color-gray: #abb2bf;
  --color-bg: #282c33;
  --transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bounce: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  margin: 0;
  font-family: "Funnel Display", sans-serif;
}
