.about-page-section {
  padding: 1rem 1rem;
}
.about-page-container {
  display: flex;
  margin: 2rem 5rem;
  justify-content: space-between;
}

.about-page-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .about-page-container {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 480px) {
  .about-page-container {
    flex-direction: column;
    margin: 0;
  }
  .about-page-text-container {
    width: 100%;
  }
}
